body{
	background: rgb(2,0,36);
    background: linear-gradient(96deg, rgba(2,0,36,1) 0%, rgba(70,124,90,1) 47%, rgba(31,48,101,1) 100%);
}
body::after {
  content: "";
  background: url(images/font-image.jpg);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  position: absolute;
  z-index: -1;   
}
.container{
	height: 100vh;
}
span{
	text-align: center;
	padding: 30px;
	font-size: 20px;
	font-family: "Lucida Console", Monaco, monospace;
	color: black;
	text-shadow: 1px 1px;
}
 #main-menu button{
 	padding: 10px;
 	border:0.16em solid #FFFFFF;
 	transition: all 0.15s;
 	font-weight:400;
 	color:#FFFFFF;
 	background-color: inherit;
 	margin:10px;
  }
#main-menu button:hover{
	background-color: #FFEFD5;
}
#main-menu button:focus{
	background-color: #FFEFD5;
}
#main-menu{
	text-align: center;
	margin:auto;
	margin-top: 20%;
	overflow: hidden;

}

#section2{
	text-align: center;
	margin: auto;
	display:none;
}

#physics-quote{
	font-size:40px;
	text-align: center;
	color: white;
	font-family: New Century Schoolbook, TeX Gyre Schola, serif;
	z-index: 999;

}
#Copyright{
	position: absolute;
	bottom:0;
	right: 0;
}
#Freshmen-tile:hover, #Junior-tile:hover, #Senior-tile:hover{
	box-shadow: 7px 7px #F5DEB3;
}
#high-school span{
	text-align: center;
	width: 100%;
	font-size: 20px;
	font-family: "Lucida Console", Monaco, monospace;
	text-shadow: 1px 1px;
	position: absolute;
	left:0;
	bottom:5px;
	margin:auto;
	padding:8px;
  	opacity: .8;
	
}

#Freshmen-tile, #Junior-tile, #Senior-tile{
	position: relative;
	background-color: inherit;
	width: 70%;
	opacity: 0.8;
	padding: 30px;
	border: 2px solid black;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;

}


@media(max-width: 575.98px)
{
	#Freshmen-tile, #Junior-tile, #Senior-tile{
		width: 100%
	}
}
@media(max-width:767.98px){
	#Freshmen-tile, #Junior-tile, #Senior-tile{
		width: 50%
	}

}