
body::after {
  content: "";
  background:;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  position: absolute;
  z-index: -1;   
}
#physicsJHS{
	padding: 20px;
	margin:auto;
	margin-top:50px;
}
#chapter1, #chapter2, #chapter3, #chapter4{
	text-align: center;
	width: 70%;
	padding: 20px;
	margin:auto;
	margin-top: 20px;
	border: 2px solid black;
	height: 180px;
	position: relative;
	animation-name:none;


}

#chapter1{
	background:url(images/si.jpg) no-repeat;
}
#chapter2{
	background:url(images/motion.jpg) no-repeat;
}

#chapter3{
	background: url(images/force.jpg) no-repeat;
}

#chapter4{
	background:url(images/energy.jpg) no-repeat;
}

a:link{}
a:visited{}
a:hover{}
a:active{border:1px solid red;}



#physicsJHS span{
	text-align: center;
	width: 100%;
	font-size: 20px;
	font-family: "Lucida Console", Monaco, monospace;
	text-shadow: 1px 1px;
	position: absolute;
	left:0;
	bottom:0;
	margin:auto;
	padding:8px;
  	opacity: .7;
  	color: white;
  	background-color: black;
}
header div{
	width: 100%;
	font-size: 20px;
	font-family: "Lucida Console", Monaco, monospace;
	text-shadow: 1px 1px;
	position: absolute;
	left:0;
	top: 0;
	margin:auto;
	padding:8px;
  	opacity: .7;
  	color: black;

}
@media(max-width: 575.98px){
	#chapter1{
	background:url(images/si.jpg) no-repeat;
}
#chapter2{
	background:url(images/motion-xs.jpg) no-repeat;
}

}


