body{
	background-color: #A9A9A9;
	
}
body::after {
	background-color: black;
	opacity: 0.8;

}

#main-submenu{
	text-align: center;
	margin:auto;
}

#photo-styling{
	margin:auto;
	opacity:0.8;
	padding: 20px;
	
}

#Freshmen-tile:hover, #Junior-tile:hover, #Senior-tile:hover{
	box-shadow: 7px 7px #F5DEB3;
}
#high-school span{
	text-align: center;
	width: 100%;
	height: 40px;
	font-size: 20px;
	font-family: "Lucida Console", Monaco, monospace;
	color: black;
	text-shadow: 1px 1px;
	position: absolute;
	bottom:0;
	left:0;
	background-color: #000;
  	color: #fff;
  	opacity: .8;
	
}

#Freshmen-tile{
	background-image: url("images/freshmen.jpg");
	background-repeat: no-repeat;
	width: 80%;
	overflow: hidden;
	padding: 60px;
	top: 10px;
	position: relative;
	opacity: 0.8;
	border: 2px solid black;
	margin: auto;
	margin-bottom: 10px;

}

#Junior-tile{
	background-image: url("images/freshmen.jpg");
	background-repeat: no-repeat;
	width: 80%;
	overflow: hidden;
	padding: 60px;
	top: 10px;
	position: relative;
	opacity: 0.8;
	border: 2px solid black;
	margin:auto;
	margin-bottom: 10px;

}
#Senior-tile{
	background-image: url("images/freshmen.jpg");
	background-repeat: no-repeat;
	width: 80%;
	padding: 60px;
	top: 10px;
	position: relative;
	opacity: 0.8;
	border: 2px solid black;
	margin:auto;
	margin-bottom: 10px;

}
#Copyright{
	position: absolute;
	bottom:0;
	text-align: center;

}

@media(max-width: 575.98px)
{
	#Freshmen-tile, #Junior-tile, #Senior-tile{
		width: 100%
	}
}
@media(max-width:767.98px){
	#Freshmen-tile, #Junior-tile, #Senior-tile{
		width: 40%
	}

}